.cell {
    padding: 20px;
    border: 1px solid;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.cell:hover {
    background: rgb(112, 104, 104);
}