.app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sudoku-container {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 1px;
    border: 5px solid;
}

.util-buttons, .number-buttons {
    display: flex;
    flex-direction: row;
}

.status {
    margin-top: 20px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-button {
    border: 1px solid rgb(216, 216, 216);
    padding: 12px;
    margin: 4px;
}

.solve-button, .reset-button, .undo-button, .generate-button  {
    margin: 10px;
    padding: 20px;
}

@media (min-width: 280px) {
    .solve-button, .reset-button, .undo-button, .generate-button {
        padding: 0px;
    }

    .number-button {
        padding: 6px;
    }    
}

@media (min-width: 375px) {
    .solve-button, .reset-button, .undo-button, .generate-button {
        padding: 10px;
    }

    .number-button {
        padding: 10px;
    }    
}

@media (min-width: 414px) {
    .solve-button, .reset-button, .undo-button, .generate-button {
        padding: 15px;
    }

    .number-button {
        padding: 12px;
    }    
}