.app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sudoku-container {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 1px;
    border: 5px solid;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.status {
    margin-top: 20px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 20px;
}

.reset-button, .undo-button, .generate-button  {
    margin-left: 20px;
}

@media (min-width: 280px) {
    button {
        padding: 0px;
    }
}

@media (min-width: 375px) {
    button {
        padding: 10px;
    }
}

@media (min-width: 414px) {
    button {
        padding: 15px;
    }
}