.sudoku-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}
.status {
    border: 1px solid white;
    width: 256px;
    height: 128px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    position: absolute;
    top: 200px;
    left: 1400px;
}

button {
    padding: 20px;
    margin-bottom: 20px;
}