.cell {
    border: 1px dotted white;
    box-sizing: border-box;
    text-align: center;
    caret-color: transparent;
}

.fixed {
   color:white;
}

.unfixed {
    color: #6db9f7;
    font-weight: bold;
}

.number-selected {
    background: rgba(220, 224, 228, 0.301);
}

.cell-selected {
    outline: none !important;
    border: 2px solid rgba(220, 224, 228, 0.301) !important;
    box-shadow: 0 0 10px rgba(220, 224, 228, 0.301);
}

.cell:hover {
    background: rgba(220, 224, 228, 0.301);
}

.cell-input:hover {
    background: rgba(220, 224, 228, 0.301);
}

.cell-border-left {
    border-left: 3px solid white;
}

.cell-border-right {
    border-right: 3px solid white;
}

.cell-border-top {
    border-top: 3px solid white;
}

.cell-border-bottom {
    border-bottom: 3px solid white;
}

@media (min-width: 280px) {
    .cell {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

@media (min-width: 375px) {
    .cell {
        width: 36px;
        height: 36px;
        font-size: 16px;
    }
}

@media (min-width: 414px) {
    .cell {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .cell {
        width: 44px;
        height: 44px;
        font-size: 20px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .cell {
        width: 48px;
        height: 48px;
        font-size: 20px;
    }
}