.util-buttons  {
    display: flex;
    flex-direction: row;
}

.solve-button, .reset-button, .undo-button, .generate-button  {
    margin: 10px;
    padding: 20px;
}

button {
    border-radius: 1px;
}

button:hover {
    background-color: #0984e3;
}

@media (min-width: 280px) {
    .solve-button, .reset-button, .undo-button, .generate-button {
        padding: 0px;
    }
}

@media (min-width: 375px) {
    .solve-button, .reset-button, .undo-button, .generate-button {
        padding: 10px;
    }
}

@media (min-width: 414px) {
    .solve-button, .reset-button, .undo-button, .generate-button {
        padding: 15px;
    }
}